.card {
  margin: 1rem;
  padding: 3rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  background-image: url(./images/33.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.card svg{
  margin-top: 50px;
}

.card h1{
  margin: 1rem 0 1rem 0;
  font-size: 3rem;
  font-weight: normal;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: auto;
}

.card .message{
  text-align: center;
  margin-bottom: 10px;
}

.formGroup{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

#names label{
  width: 45%;
}

#radioGroup{
  width: 30%;
}

#radioGroup label{
  display: flex;
  justify-content: start;
  align-items: center;
}

#radioGroup label input{
  margin-right: 5px;
}

.formGroup label{
  width: 100%;
}

.notComingContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.datesGroup{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 275px;
}

.datesGroup label{
  width: 45%;
  margin: 5px 0 5px 0;
}

.error {
  text-align: center;
  font-size: 1em;
  color: #fef3df;
}



#success, #loading{
  color: #1e273e
}

#error{
  color: #dc5743;
}

@media screen and (max-width: 600px) {
  .datesGroup{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
  }
  .datesGroup label{
    width: 100%;
    margin: 5px 0 5px 0;
  }
}
