:root {
  --form-control-color: #6c584c;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #23334b;
  background-image: url(../components/images/DBW24_Background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fef3df;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spin {
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 0.7em;
  height: 0.7em;
  border: 0.15em solid #23334b;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.45em;
  height: 0.45em;
  border-radius: 50%;
  transform: scale(0);
  transition: 5ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="text"], input[type="email"] {
  background-color: #fff;
  min-width: 300px;
  border: 0.15em solid #23334b;
}

input[type="number"]{
  background-color: #fff;
  min-width: 200px;
  border: 0.15em solid #23334b;
}
